@import url('https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible:wght@400;700&display=swap');

body {
  font-family: 'Atkinson Hyperlegible', sans-serif;
}

.score-board {
  border: 1px solid #333;
}

.score-form {
  max-width: 30em;
}

@media screen and (max-width: 720px) {
  #scores {
    order: 2;
  }

  #add-score {
    order: 1;
  }
}
